<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataManger.Properties.Settings.MainDBConnectionString"
            connectionString="data source=&quot;C:\Users\Daniel\Documents\Visual Studio 2013\Projects\VocabAid\DataManger\Data\MainDB.db&quot;;useutf16encoding=True;foreign keys=True"
            providerName="System.Data.SQLite.EF6" />
        <add name="DataManger.Properties.Settings.WikiWordExtractsConnectionString"
            connectionString="data source=&quot;C:\Users\Daniel\Documents\Visual Studio 2013\Projects\VocabAid\DataManger\Data\WikiWordExtracts.db&quot;;useutf16encoding=True;foreign keys=True"
            providerName="System.Data.SQLite.EF6" />
        <add name="DataManger.Properties.Settings.SCOWL_WordsConnectionString"
            connectionString="data source=&quot;C:\Users\Daniel\Documents\Visual Studio 2013\Projects\VocabAid\DataManger\Data\SCOWL_Words.db&quot;;useutf16encoding=True;use utf-16 encoding=True"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>